<div class="list">

  <div class="item item-day">
    <b>{{weekday}} {{day}}</b> <span>{{month}} {{year}}</span>
    <span class="amount">{{format-money amountsTotal}}</span>
    <hr>
  </div>
  {{#each groupedTransaction.items as |transaction|}}
    {{transaction-card transaction=transaction}}
  {{/each}}
</div>