<div class="bar bar-header bar-balanced">
  <button {{action "smsImport"}} class="button button-icon icon ion-navicon button-clear button-dark"></button>
  <div class="h1 title">$ 20.0000.000</div>
</div>

<div class="bar bar-subheader bar-dark">
  <h2 class="title">Este Mes</h2>
</div>

<div class="scroll-content overflow-scroll has-header has-subheader">

  {{overview-card}}

  {{#each filteredTransactions as |transaction|}}

    <div class="item item-transaction">
      <img src="{{transaction.categoryImage}}">
      <h2>{{transaction.category}}</h2>
      <span>$ {{transaction.amount}}</span>
      <p>{{transaction.note}}</p>
    </div>

  {{/each}}
</div>