<div class="bar bar-header bar-balanced">
  <button {{action "smsImport"}} class="button button-icon icon ion-navicon button-clear button-dark"></button>
  <div class="h1 title">$ 20.0000.000</div>
  <button class="button button-icon ion-android-more-vertical button-clear button-dark"></button>
</div>

<div class="bar bar-subheader bar-dark">
  <h2 class="title">Este Mes</h2>
</div>

<div class="scroll-content overflow-scroll has-header has-subheader">

  <div class="list">

    <div class="item item-icon-right">
      <h2>Resumen</h2>
      <i class="icon ion-chevron-right"></i>
      <p>Toca para ver un informe completo</p>
    </div>

  </div>

  {{#each filteredTransactions as |transaction|}}

    <div class="item item-transaction">
      <img src="{{transaction.categoryImage}}">
      <h2>{{transaction.category}}</h2>
      <span>$ {{transaction.amount}}</span>
      <p>{{transaction.note}}</p>
    </div>

  {{/each}}
</div>